<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Add Task</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div class="center">
    <a th:href="@{/tasks}" style="float: right; margin-right: 10px; margin-top: 10px">
        <button type="button" class="btn btn-danger">&times;</button>
    </a>
    <h1>Add Task</h1>
    <form th:action="@{/addTask}" method="post" th:object="${task}">
        <div class="txt_field">
            <p th:if="${#fields.hasErrors('taskName')}" th:errors="*{taskName}" style="color: red"></p>
            <input th:field="*{taskName}" name="taskName" type="text" placeholder="Title">
        </div>
        <div class="txt_field">
            <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}" style="color: red"></p>
            <input th:field="*{description}" name="description" placeholder="Description" type="text">
        </div>
        <p th:text="${error}" style="color: red"></p>
        <a th:href="@{/tasks}" style="text-decoration: none">
            <button type="button" class="btn btn-danger">Cancel</button>
        </a>
        <button class="btn btn-primary" type="submit" value="Add">Add</button>
    </form>
</div>

</body>
</html>
