<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Edit Task</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div class="center">
    <a th:href="@{/tasks}" style="float: right; margin-right: 10px; margin-top: 10px">
        <button type="button" class="btn btn-danger">&times;</button>
    </a>
    <h1>Edit Task</h1>
    <form method="post" th:action="@{'/editTask/' + ${task.id}}" th:object="${task}">
        <div class="txt_field">
            <input th:field="*{taskName}" name="taskName" type="text" placeholder="Title">
        </div>
        <p th:if="${#fields.hasErrors('taskName')}" th:errors="*{taskName}" style="color: red"></p>
        <textarea th:field="*{description}" name="description" placeholder="Description" type="text"
                  style="resize: none; width: 320px; height: 100px; margin-bottom: 10px"></textarea>
        <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}" style="color: red"></p>
        <div>
            <select type="button" class="btn btn-secondary selectAction"
                    style="display:block; margin: 0 0 25px  auto; width: 320px" name="action" th:field="*{taskStatus}">
                <option value="Open">Open</option>
                <option value="InProgress">InProgress</option>
                <option value="Done">Done</option>
                <option value="All">All</option>
            </select>
        </div>
        <a th:href="@{/tasks}" style="text-decoration: none">
            <button type="button" class="btn btn-danger">Cancel</button>
        </a>
        <button class="btn btn-primary" type="submit">Save</button>
    </form>
</div>
</body>
</html>
