<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Login</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/css/js/scrip.js}"></script>
</head>
<body>
<div class="center">
    <h1>Login</h1>
    <form th:action="@{/login}" method="post" th:object="${user}">
        <div class="txt_field">
            <input th:field="*{username}" onkeyup="checkLogin()" id="username" name="username" type="text">
            <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" style="color: red"></p>
            <label>Username</label>
        </div>
        <div class="txt_field">
            <input th:field="*{password}" onkeyup="checkLogin()" id="password" name="password" type="password">
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red"></p>
            <label>Password</label>
        </div>
        <p id="warningLogin" th:text="${error}"></p>
        <input id="inputLogin" type="submit" value="Login">
        <div class="signup_link">
            Not a member? <a th:href="@{/signup}">Sign up</a>
        </div>
    </form>
</div>

</body>
</html>
